@CHARSET "UTF-8";


.image-main{
	width: 415px;
	height: 415px;
}

.image-small{
	width: 100px;
	height: 100px;
}
.merchandise{
	margin-left: 30px;
}
.images{
	display: inline-block;
}
.information{
	position: relative;
	display: inline-block;
	max-width: 800px;
	top:-260px;
}